<!DOCTYPE html>
<html>
<head>
    <title>Customer Signup</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login_signup.css') }}">
</head>
<body>
    <div class="container">
        <h2>Customer Signup</h2>
        <form method="POST">
            <label>Email Id (Username):</label>
            <input type="email" name="email" required>
            <label>Password:</label>
            <input type="password" name="password" required>
            <label>Full Name:</label>
            <input type="text" name="name" required>
            <label>Address:</label>
            <textarea name="address" required></textarea>
            <label>Pincode:</label>
            <input type="text" name="pincode" required>
            <button type="submit">Register</button>
        </form>
        <p>
            Already have an account? <a href="{{ url_for('login') }}">Login here</a>
        </p>
    </div>
</body>
</html>
